{{!-- Setup the index.handlebars to have the template that Handlebars can render onto. --}}
<div class="container">

    <div class="jumbotron">
        <h1 id="color-override">Eat the Burger</h1>
        <p id="color-override">Make burgers, eat burgers.</p>
        <br>
        <h2 id="color-override">Make a Burger</h2>
        <panel>
            <form class="create-form">
                <div class="form-group">
                    <label for="newburger" id="color-override">New Burger:</label>
                    <input type="text" id="newburger" name="burger">