.jumbotron {
    background-image: url("/img/burger.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 10px;
}

.jumbotron > h1 {
    font-family: 'Creepster', cursive;
}

#newburger {
    border-radius: 5px;
}

#color-override {
    color: black;
}

#lefthead {
    background-color: orange;
    color: white;
    text-align: center;
    font-size: 1.2em;
}

#eatbutton, #trashbutton {
    float: right;
}

#righthead {
    background-color: brown;
    color: white;
    text-align: center;
    font-size: 1.2em;
}
